*{padding: 0; margin:0; border: 1px dashed #0000FF;}

body{background-color: #ccc;}

.wrapper-main{
	width:500px;
	margin:10% auto; 
	background-color: #fff;
	padding: 25px;
}

.title{
	width: 50%;
	float: right;
	text-align: left;
}

.title h2{

}

.details{
	clear: both;
}

.clock{
	width: 50%;
	float: left;
}

.text{
	width: 48%;
	float: left;
}

.text ul li{
	text-decoration:none;
	list-style-type:none; 
}
.wrapper-bottom{
	clear: both;
}
