/*Design template ~L.R.~ This is the basic design!*/

.w-btn{
	width:20%;
	max-width:150px;  
	height:35px;
	background-color:grey;
	color: #fff; 
	text-align:center; 
	font-size: 24px;
	margin: 50px auto;
	border-radius:5px; 
	transition: 0.4s all cubic-bezier(.46,.03,.52,.96);
}

.w-btn:hover{
	box-shadow: 0px 0px 15px #333;
	max-width: 200px; 
	height:37px;
	font-size: 26px;
}




/*Sqaure!*/
.w-btn-sq{
	border-radius: unset;
}




/*W-btn-Info*/

.w-btn-info{
	background-color:blue;
}




/*W-btn-Success*/

.w-btn-success{
	background-color:green;
}




/*W-btn-Warning*/

.w-btn-warning{
	background-color:yellow;
}




/*W-btn-Danger*/

.w-btn-danger{
	background-color:red;

}

/*W-btn-NeonAqua*/

.wrapper > .w-btn-neonaqua{
	border-radius:18px; 
	 background: linear-gradient( 45deg,#99bbff,#ff66d9,#ffb3ff);
}