
/*.wrapper{
		max-width:150px;  
		height:35px;
		border-radius:18px; 
		/*background-color: #000000;*//*
		padding-top: -4px;
		margin: 50px auto;
		background: linear-gradient( 45deg,#ffb3ff,#ff66d9,#99bbff);

}
*/
 .w-btn{
	
		max-width:150px;  
		height:35px;
		/*background-color:grey;*/
		background: linear-gradient( 45deg,#99bbff,#ff66d9,#ffb3ff);
		color: #fff; 
		text-align:center; 
		font-size: 24px;
		margin: auto;
		border-radius:18px; 
		transition: 0.7s background cubic-bezier(.46,.03,.52,.96);
}




/*.w-btn:hover{
		box-shadow: 0px 0px 15px #333;
		max-width: 200px; 
		height:40px;
		font-size: 26px;
		background: linear-gradient( 45deg,#ffb3ff,#ff66d9,#99bbff);
		box-shadow:0px 0px 8px 2px rgba(0,0,0,0.50); 
}*/

 .w-btn:hover{
		/*padding: 5px;*/
		background: linear-gradient( 45deg,#ffb3ff,#ff66d9,#99bbff);
}